mlx-audio>=0.4.0
mlx-whisper>=0.4.3
scipy
sounddevice
soundfile
pyobjc-framework-Quartz
pyobjc-framework-Cocoa
pyobjc-framework-ServiceManagement
pyobjc-framework-ApplicationServices
pyobjc-framework-AVFoundation
